<?xml version="1.0"?>
<config>
    <modules>
        <Educ_CheckoutReg>
            <version>0.1.0</version>
        </Educ_CheckoutReg>
    </modules>
    <frontend>
        <layout>
            <updates>
                <checkoutreg>
                    <file>checkoutreg.xml</file>
                </checkoutreg>
            </updates>
        </layout>
    </frontend>
</config>